@model IEnumerable<JeffPaulin.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1 class="background-sky text-center display-3 text-jp-orange p-3 mb-3">Blogs</h1>

@foreach (var b in Model) {
<div class="card border border-jp-blue">
    <h3 class="card-header text-center text-jp-orange" style="background-color:var(--jp-blue)">@b.BlogName</h3>
    <div class="card-body">
        <div>
            <h5 class="card-title">@b.BlogSubHeader</h5>
            <p class="collapse card-text" id="collapseDescription">@b.BlogDescription</p>
            <a class="toggleMore collapsed" data-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseDescription"></a>
        </div>
        <a class="collapsed btn btn-sm btn-jp-orange mt-3" data-toggle="collapse" href="#collapsePosts" role="button" aria-expanded="false" aria-controls="collapsePosts">Show Posts</a>
    </div>
    <div class="card-footer collapse" id="collapsePosts">
        <div>
            @if (b.BlogPostRecs.Any())
            {
                foreach (BlogPostRec pr in b.BlogPostRecs.Where(x => x.Post.IsActive == true && x.Post.IsDraft == false && x.Post.IsDeleted == false))
                {
                    <span>@pr.Post.PostHeader</span>
                }
                if(b.BlogPostRecs.Count() == 5)
                {
                    <a href="#">View All...</a>
                }
            }

        </div>
    </div>
</div>
}