@if (User.Identity.IsAuthenticated)
{
    <text>
    <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">
                @if (User.Identity.Name != null)
                {
                    System.Security.Claims.ClaimsIdentity ci = (System.Security.Claims.ClaimsIdentity)User.Identity;

                <span style="color:white"><text>Welcome back, @User.Identity.Name</text></span>
                }
            </li>
        <li>
            @Html.ActionLink("Sign out", "SignOut", "Account",null, new { @class = "nav-link"})
        </li>
    </ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
