@model ErrorViewModel
@{
    ViewData["Title"] = $"{Context.Response.StatusCode.ToString()} Error";
}
<div class="justify-content-center text-center align-items-center">
    @if (Context.Response.StatusCode == 404)
    {
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://image.freepik.com/free-vector/error-404-concept-landing-page_52683-11840.jpg" alt="404 error" /></a>
    }

    <h2 class="text-jp-orange">The site encountered a @Context.Response.StatusCode.ToString() error while processing your request</h2>
    <p>Ensure the url you typed does not contain any typos. If you were brough here from a link, please <a href="https://github.com/jmpaul99/JeffPaulin/issues" target="_blank">open an issue</a>. Please note your Request ID, and include the url of the page you were directed from, mention this is a @Context.Response.StatusCode.ToString() error, and what actions you were attempting to perform, if any.</p>
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
    <a class="btn btn-lg btn-jp-orange align-text-bottom" href="https://github.com/jmpaul99/JeffPaulin/issues"><img width="35vm" src="~/images/GitHub.png" alt="github logo"> Open an issue</a>
</div>
@*<h3>Development Mode</h3>
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
    <p>
        <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
        It can result in displaying sensitive information from exceptions to end users.
        For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
        and restarting the app.
    </p>*@
