<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect Fusion Sign Ups" stopProcessing="true">
          <match url="FusionSignUps" />
          <action type="Redirect" url="https://forms.office.com/Pages/ResponsePage.aspx?id=4KyckVt5oEWeZqk_H6bwcCnZU01HwcNNi-Rz3NQcmh1UM1NIM0xNVk01TlJVMVNFUkEzWEo5SVdXNi4u" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
</configuration>
