@model JeffPaulin.Models.PlayerForSession

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlayerForSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <select asp-for="PlayerId" class ="form-control" asp-items="ViewBag.PlayerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <select asp-for="SessionId" class ="form-control" asp-items="ViewBag.SessionId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Attended" /> @Html.DisplayNameFor(model => model.Attended)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WorkEthic" class="control-label"></label>
                <input data-provide="slider" data-slider-ticks="[1,2,3,4,5,6,7]" data-slider-ticks-lables='["1","2","3","4","5","6","7"]' data-slider-min="1" data-slider-max="7" data-slider-step="1" data-slider-value="4" asp-for="WorkEthic" class="form-control" />
                <span asp-validation-for="WorkEthic" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TechnicalImprovementDuringSession" /> @Html.DisplayNameFor(model => model.TechnicalImprovementDuringSession)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TechnicalImprovementFromPreviousSession" /> @Html.DisplayNameFor(model => model.TechnicalImprovementFromPreviousSession)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
