@model JeffPaulin.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.PostHeader</h1>

<div>
    <h4>@Model.PostSubheader</h4>
    <hr />
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
