@model IEnumerable<JeffPaulin.Models.Post>

@{
    ViewData["Title"] = "Posts Admin";
}

<h3>Posts Admin</h3>

<p>
    <a class="btn btn-jp-orange" asp-action="Create">Create New</a>
</p>
<hr />
@foreach (Post p in Model) {
        <div class="row ml-2 mr-2">
            <a class="col-md-6 btn btn-sm btn-jp-blue" asp-action="Details" asp-route-id="@p.Id">
                @p.PostHeader
            </a>
            <div class="col-md-4 text-center">
                @p.CreatedDate
            </div>
            <a class="col-md-2 btn btn-sm btn-jp-orange" asp-action="Edit" asp-route-id="@p.Id">
                Edit
            </a>
        </div>
        <hr class="ml-2 mr-2" />
}
