@{
    ViewData["Title"] = "";
}


    <div class="text-center jumbotron-main" style="height:100%; overflow:visible">
        <img src="~/images/logo.png" />
        <h1 class="display-4 text-white">Jeff Paulin</h1>
        @*<h2 style="color:white">Experianced IT Professional, Goalkeeping Coach, Traveler</h2>*@<br />
        
        <div class="container-fluid">
            <div class="d-md-none">
                <br /><br /><br /><br />
            </div>
            <div id="carouselCaptions" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" style="height:100%; overflow:visible">
                <ol class="carousel-indicators" style="background-color:var(--jp-orange); margin-top:5%;">
                    <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-text">
                            <h4 style="color:var(--jp-light-blue)">Experienced IT Professional</h4>
                            <p>Experience in all functions of an IT Department, with specialization in Web Development, .Net Framework + Core, Data Reporting and Anaylitics, and DevOps.</p>
                            <div class="row justify-content-center">
                                <div class="col-md-4" style="margin-top:1%;">
                                    <a class="btn btn-jp-orange">
                                        <i class="material-icons">
                                            double_arrow
                                        </i> Read the Blog
                                    </a>
                                </div>
                                <div class="col-md-4" style="margin-top:1%;">
                                    <a class="btn btn-jp-orange">
                                        <i class="material-icons">
                                            double_arrow
                                        </i> View my Resume
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-text">
                            <h4 style="color:var(--jp-light-blue)">Goalkeeper Coach</h4>
                            <p>Experienced Soccer Goalkeeper trainer for all ages and skill levels. Coaching experience is backed by an extensive playing career.</p>
                            <a class="btn btn-jp-orange" style="margin-top:1%;">
                                <i class="material-icons">
                                    double_arrow
                                </i> Read the Blog
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-text">
                            <h4 style="color:var(--jp-light-blue)">Traveler</h4>
                            <p>"We travel not to escape life, but for life not to escape us."</p>
                            <a class="btn btn-jp-orange" style="margin-top:1%;">
                                <i class="material-icons">
                                    double_arrow
                                </i> Read the Blog
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
